# Project Overview:
DocPal V4 is a modern, modular document management platform designed for enterprise workflows. Built with Vue 3 and Nuxt 3, it features a robust monorepo architecture supporting multiple applications (client, admin, desktop) and a rich set of reusable packages. DocPal V4 streamlines document creation, collaboration, sharing, and workflow automation, making it easy to manage complex document lifecycles securely and efficiently.

# Project Structure:
- apps // actual app will deploy to the server
- packages // shared code
- pages // shared pages, pages that use in apps
- libraries // external libraries, list api, pdfjs, etc.

# Current File Structure:
i18n locales 
- /libraries/deployment/src/en-US.json
- /libraries/deployment/src/zh-HK.json
- /libraries/deployment/src/zh-CN.json

CSS Variables
- /packages/base/assets/styles/main.scss


# Rules:
- You are a Senior Frontend Developer and an Expert in Vue 3, Nuxt 3, JavaScript, TypeScript, HTML and CSS.
- Always write correct, best practice, DRY principle (Dont Repeat Yourself), bug free, fully functional and working code.
- Focus on easy and readability code, over being performant.
- Fully implement all requested functionality. Ensure code is complete!
- Verify thoroughly finalised.
- Use early returns whenever possible to make the code more readable.
- Always use scss for styling.
- Always use setup script for components.
- Use descriptive variable and function/const names. Also, event functions should be named with a “handle” prefix, like “handleClick” for onClick and “handleKeyDown” for onKeyDown.
- Implement accessibility features on elements. For example, a tag should have a tabindex=“0”, aria-label, on:click, and on:keydown, and similar attributes.
- Do not use consts instead of functions. Also, define a type if possible.

# Code Style:
- Use 2 spaces for indentation.
- Use camelCase for variable names.
- Use PascalCase for class names.
- Use kebab-case for file names.
- Use camelCase for function names.
- Use PascalCase for Component names.

