@use './var.scss' as *;
@use './element/index.scss' as *;

:root{
  // generate grey color in 5 levels
  // generate grey color in 5 levels using $grey-hue and $grey-saturation
  @for $i from 0 through 20 {
    --app-grey-#{$i}: hsl(160 2% #{$i * 5%});
  }
  
  // generate white and black color
  --app-white: #fff;
  --app-black: #000;
  --app-text-color: #000;
  --app-font-size-xs: 0.5rem;
  --app-font-size-s: 0.75rem;
  --app-font-size-m: 1rem;
  --app-font-size-l: 1.5rem;
  --app-font-size-xl: 2rem;
  --app-font-size-xxl: 3rem;
  --app-line-height: 1.2;
  --app-font-weight: 400;
  --app-font-family: 'Roboto', sans-serif;
  
  // set ap size base on rem;
  --app-border-radius-xxs: 0.25rem;
  --app-border-radius-xs: 0.5rem;
  --app-border-radius-s: 0.8rem;
  --app-border-radius-m: 1.2rem;
  --app-border-radius-l: 1.8rem;
  --app-border-radius-xl: 2.5rem;
  --app-border-radius-xxl: 4rem;
  --app-border-radius-max: 10e5px;
  
  // set app space
  --app-space-sxs: 0.25rem;
  --app-space-xs: 0.5rem;
  --app-space-s: 0.8rem;
  --app-space-m: 1.2rem;
  --app-space-l: 1.8rem;
  --app-space-xl: 2.5rem;
  --app-space-xxl: 4rem;
  
  --app-bg-level-0: hsl(160, 5%, 91%);
  --app-bg-level-1: hsl(160, 5%, 93%);
  --app-bg-level-2: hsl(160, 5%, 95%);
  --app-bg-level-3: hsl(160, 5%, 98%);
  --app-bg-level-4: hsl(160, 5%, 100%);
  
  // set app shadow
  --app-shadow-s: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --app-shadow-m: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --app-shadow-l: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --app-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  
}


html, body{
  padding: 0;
  margin: 0;
  font-family: var(--app-font-family);
  font-size: var(--app-font-size-m);
  line-height: var(--app-line-height);
  font-weight: var(--app-font-weight);
}

* {
  box-sizing: border-box;
}
