
@use "../var.scss" as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $app-color,
  $common-component-size: (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $border-radius: $app-border-color,
  $font-size: $app-font-size,
  $table: (
    'current-row-bg-color': var(--el-color-primary-light-7),
  )
);